@media (max-width: 568px) {
    ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-right: 32px;
    }

    li {

        width: calc(50% - 10px);

        margin-bottom: 10px;

    }

    #cevapInput {
        justify-content: center;
        width: 98%;
        margin: 10px auto;

    }

    #sonucCumle {
        font-size: 20px;

    }

    button {
        text-align: center;
        margin: 25px auto;

        padding: 10px;
        width: 40%;
        margin-bottom: -15px;
        border-radius: 10px;
        display: block;

    }

    h1 {
        text-align: center;
        margin-top: 50px;

    }
}