.container {
    background: white;
    padding: 0;
    border-radius: 10px;
    text-align: center;
    max-width: 90%;
    max-height: 900px;
    width: 100%;
    margin: 0 auto;
}

.option {
    width: 100%;
    max-width: 250px;
    height: auto;
    margin: 5px;
    border-radius: 10px;
    border: 5px solid grey;
    padding: 20px 15px;
    text-align: center;
    cursor: pointer;
}

h1 {
    font-size: 25px;
    margin-bottom: 5px;
}

button {
    margin-bottom: 10px;
    width: 100%;
    max-width: 200px;
}

#options {
    gap: 2px;
}

#result {
    margin-top: 10px;
    font-weight: bold;
    font-size: 15px;
}

#question {
    margin-bottom: 5px;
    font-size: 20px;
}