@media screen and (min-width: 768px) {
    .container {
        background: white;
        padding: 100px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        text-align: center;
        max-width: 500px;
        width: 100%;
    }

    h1 {
        color: #333;
        font-size: 40px;
        margin-bottom: 20px;
    }

    #question {
        margin-bottom: 10px;
        font-size: 25px;
    }

    #result {
        margin-top: 25px;
        margin-bottom: 15px;
        font-weight: bold;
        font-size: 20px;
    }
}

@media screen and (min-width: 1024px) {
    .container {
        background: white;
        padding: 150px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        text-align: center;
        max-width: 600px;
        width: 100%;
    }


    .option {

        font-size: 25px;
        width: 250px;
        height: 170px;
        margin: 5px;
        border-radius: 10px;
        border: 5px solid grey;
        box-sizing: border-box;
        padding: 20px 25px;
        text-align: center;
        cursor: pointer;
        background: #ddd;
        color: black;
        transition: background-color 0.3s ease;

    }

    h1 {
        color: #333;
        font-size: 50px;
        margin-bottom: 20px;
    }

    button {
        font-size: 20px;
        margin-top: 30px;
        width: 220px;
        height: 65px;
    }

    #result {

        margin-top: 50px;
        font-weight: bold;
        font-size: 30px;
    }

    #question {
        margin-bottom: 20px;
        font-size: 35px;
    }

}